{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1dcfe25940.js" crossorigin="anonymous"></script>
    <title>On A Plate</title>
</head>

<body class="d-flex flex-column main-bg">

    <!-- Navigation -->

    <header>
        <nav class="navbar navbar-dark navbar-expand-lg align-items-center bg-dark shadow-sm">
          <div class="container">
            <a href="{% url 'home' %}" class="col-6 navbar-brand d-flex align-items-center nav-link">
              <strong>ON A PLATE</strong>
            </a>
            <div class="navbar-collapse collapse" id="navmenu" style>
              <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'account_logout' %}" class="nav-link">LOGOUT</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'account_signup' %}" class="nav-link">REGISTER</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account_login' %}" class="nav-link">LOGIN</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close bg-dark text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="d-flex min-vh-100 container-fluid justify-content-center">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="bg-dark">
        <div class="container py-2">
            <div class="text-center text-white">
                <ul class="socialmedia-links mb-0 list-unstyled d-flex display justify-content-center">
                    <li class="p-2"><a class="text-center text-white" href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a></li>
                    <li class="p-2"><a class="text-center text-white" href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="p-2"><a class="text-center text-white" href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="p-2"><a class="text-center text-white" href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter"></i></i></a></li>
                </ul>
            </div>
            <form action=" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate d-flex justify-content-center" target="_blank" novalidate="">
              <div class="row text-center mb-2">
                  <div class="col-12">
                      <input type="email" name="EMAIL" class="form-control" id="inputEmail" placeholder="Enter email address..." required="">
                  </div>
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary btn-subscribe mx-auto mt-2">Subscribe</button>
                      </div>
                  </div>
          </form>
            <div class="text-center text-white">
              <span class="mb-3 mb-md-0">© 2022 On a Plate, Inc</span>
            </div>
        </div>
    </footer>
    <script>
      setTimeout(function () {
          let messages = document.getElementById('msg');
          let alert = new bootstrap.Alert(messages);
          alert.close();
      }, 2500);
  </script>
</body>

</html>