{% extends "base.html" %}

{% block content %}

<main>
    <section class="container py-5 text-center" >
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="mb-5 fw-light">RECIPES FOR FOODIES</h1>
          <p class="lead text-muted">Browse, like and comment on your favourite ON A PLATE recipes</p>
          <!-- https://mdbootstrap.com/docs/standard/forms/search/ -->
          <div class="d-flex">
            <input type="search" class="form-control me-2" placeholder="Search ON A PLATE" aria-label="Search" aria-describedby="search-recipe"/>
            <button class="input-group-text border-0" id="search-recipe" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 shadow-lg">
      <div class="container-fluid">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
          <div class="row">
            {% for post in post_list %}
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="image-container">
                    {% if "placeholder" in post.featured_image_url %}
                    <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="">
                    {% endif %}
                    <div class="image-flash">
                      <p class="author">Author: {{ post.author }}</p>
                    </div>
                  </div>
                  <a href="{% url 'post_detail' post.slug %}" class="post-link">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.excerpt }}</p>
                  </a>
                  <hr />
                  <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>{{ post.number_of_likes }}</p>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
    </section>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}